@import url("/css/styles-root.css");

main {
    display: flex;
    text-align: center;
    height: auto;
    background-image: url(../imgs/img-formulario/fondo-formulario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formularios {
    background-color: var(--color-main);
    width: 75vw;
    height: auto;
    border-radius: 15px;
    margin: 5vh auto;
    padding-top: 2vh;
}

    h1 {
        color: #644035;
        font-weight: bold;
        font-size: 3vw;
    }

    form {
        display: flex;
        flex-direction: column;
    }

        .inputContacto {
            border: 1px solid #C2C5E1;
            border-radius: 15px;
            padding: 3.5vw;
            margin: 4vw 4vw auto;

        }

            ::placeholder {
                color: #644035;
            }


    .botonEnvioFormulario {
        background-color:  var(--color-subtitulo);
        color: white;
        font-size: 3vw;
        border-radius: 8px;
        margin: 3vw;
        width: 20vw;
        padding: 1vw;
    }


@media screen and (min-width:850px) {
    .formularios{
        width: 40vw;
        border-radius: 20px;
        padding-top: 2vh;
    }

    h1 {
        font-size: 2vw;
    }

    .inputContacto{
        border-radius: 15px;
        padding: 1vw;
        margin: 2vw 2vw auto;
    }

    .botonEnvioFormulario {
        font-size: 1.5vw;
        border-radius: 15px;
        margin: 3vw;
        width: 10vw;
        padding: 1vw;
    }
}