@import url("/css/styles-root.css"); /*!IMPORTO ESTILOS ROOT*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid black; */
}

@media screen and (max-width:650px) {
    /* ***************BANNER*************** */
    .imagen-banner{
        display: none;
    }
    .contenedor-banner{
        max-width: 100%;
        position: relative;
        display: flex;            
        flex-direction: column;
        align-items: center;
    }
        /* .contenedor-banner .contenedor-texto{
            position: absolute;
            width: 100%;
            display: flex;
            padding: 6px 0 6px 4px;
            justify-content: space-around;
            font-size: 0.8em;
            color: azure;
        } */
        /* .contenedor-texto{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15%;
        } */

        .contenedor-texto{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            margin-top: 20%;
    /*         padding: 0 50px; */
        }
            .texto-banner{
                color: rgb(215, 239, 221);
                font-weight: 700;
                font-size: 4.3vw;
                padding: 0 3%;
                width: 37%;
                text-align: center;
            }

        .contenedor-banner .imagen-banner-responsive{
            width: 100%;
        }
        .contenedor-banner .boton-sobre-nosotros{
            position: absolute;
            bottom: 30px;
            /* left: 35%;  ! ??????? */
        }
            .contenedor-banner .boton-sobre-nosotros a{
                text-decoration: none;
                font-size: 0.7em;
                padding: 5px 5px;
                border: 2px solid azure;
                border-radius: 50px;
                font-weight: bold;
                text-transform: uppercase;
                color: azure;
            }


    /* ***************PRODUCTOS DESTACADOS*************** */
    .contenedor-productos-destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 15px 8px;
    }
        .contenedor-productos-destacados .titulo-productos-destacados{
            font-size: 1em;
            color: #644035;
            padding-bottom: 10px;
        }
        .contenedor-productos-destacados .contenedor-productos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
            .contenedor-productos-destacados .contenedor-productos .contenedor-producto{
                display: flex;
                flex-direction: column;
                width: 180px;
                border: 1px solid rgba(109, 109, 109, 0.496);
                border-radius: 15px;
                margin: 5px;
            }

                .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto{
                    text-decoration: none;
                    font-size: 0.5em;
                    padding: 9px;
                    color: #125115;
                    
                }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .imagen-producto{
                        width: 170px;
                        height: 170px;
                        object-fit: contain;
                        padding: 5px;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .nombre-producto {
                        font-weight: 200;
                        font-size: 1rem;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .precio-producto {
                        font-size: 1rem;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .contenedor-categoria-producto .categoria-producto{
                        font-size: 0.7rem;
                        background-color: antiquewhite;
                        padding: 1px;
                        margin: 3px 3px 3px 0;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .boton-agregar-carrito{
                        background-color:  var(--color-subtitulos-main);
                        color: white;
                        font-size: 0.8em;
                        border-radius: 7px;
                        border: none;
                        padding: 0.4vw 0vw;
                        margin: 0 3px 6px;
                    }

    /* ***************CATEGORÍAS*************** */
    .contenedor-categorias{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F5FF;
        /* max-width: 450px; */
        padding: 15px 5px;
        width: 100%;
    }

        .contenedor-categorias h2{
            font-size: 1.8em;
            color: #125115;
            font-weight: bold;
        }
        .contenedor-categorias .contenedor-tarjetas-categorias{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            padding: 10px 15px 0;
        }
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria{
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 5px 0;
                font-weight: 100;
                border-radius: 15px;
            }

                .contenedor-categorias .contenedor-tarjetas-categorias .categoria a img{
                    border-radius: 15px; /*!fabi*/
                    width: 180px;
                    height: 260px;
                }

                .contenedor-categorias .contenedor-tarjetas-categorias .categoria p{
                    position: absolute;
                    align-self: center;
                    bottom: 20px;
                    color: azure;
                    font-size: 1.2em;
                    font-weight: bold;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: black;
                    text-transform: uppercase;
                }
                /* .contenedor-categorias .contenedor-tarjetas-categorias .categoria .titulo-categoria{
                } */
    /* ***********************************NOTICIAS*********************************** */
    .contenedor-noticias-sustentables{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;
        
    }
        .contenedor-noticias-sustentables .titulo-noticias-sustentables{
            color: #125115;
            font-weight: 400;
            text-align: center;
        }

    .mySwiperSM {
        position: relative;
        background: #ffffff;
        font-size: 0.9em;
        margin: 0;
        padding: 30px;
    }
    .swiper {
        width: 100%;
        height: 300px;
        margin: 20px 10px;
    }         
    .swiper-slide {
        display: flex;
        justify-content: center;
        text-align: center;
    }
        .swiper-slide .noticia-slide a{
            text-decoration: none;
            position: relative;
        }
            .swiper-slide .noticia-slide a .imagen-noticia{
                width: 370px;
                height: 220px;
                border-radius: 5%;
                border: 1.2px solid rgb(145, 145, 145);
            }
            .swiper-slide .noticia-slide a .titulo-noticia{
                position: absolute;
                font-size: 1.1em;
                color: #644035;
                
                
            }


}



@media screen and (min-width:1150px) {
/*! @media screen and (min-width:1450px) { */

    /* ***********************************BANNER*********************************** */
    .contenedor-banner{
        position: relative;
        max-width: 100%;
        /*!era agergar estas 3 líneassss vee*/
        display: flex;          
        flex-direction: column;
        align-items: center;
    /*     height: 70vh; */
    }
    
    .imagen-banner{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .imagen-banner-responsive{
        display: none;
    }

    .contenedor-texto{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        margin-top: 15%;
/*         padding: 0 50px; */
    }
        .texto-banner{
            color: rgba(215, 239, 221, 0.856);
            font-weight: 700;
            font-size: 2.8vw;
            padding: 0 3%;
        }

    .boton-sobre-nosotros {
    /*     display: flex; */
        position: absolute;
        bottom: 100px;
        /*!left: 43%; ! lymvero*/
    }
    .boton-sobre-nosotros a{

        text-decoration: none;
        padding: 20px 25px;
        border: 2px solid azure;
        border-radius: 50px;
        color: azure;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
    }
        .boton-sobre-nosotros a:hover{
            background-color:azure;
            color: rgb(4, 95, 4);
        }


    /* ***********************************PRODUCTOS DESTACADOS*********************************** */
    .contenedor-productos-destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 100px;
        margin: 40px 0;
        /* background-color: #e1dfdf; */
    }
        .contenedor-productos-destacados .titulo-productos-destacados{
            font-size: 2.5rem;
            color: #644035;
            padding: 20px 0;
            font-weight: bold;
        }

            .contenedor-productos-destacados .contenedor-productos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around
            }

                .contenedor-productos-destacados .contenedor-productos .contenedor-producto {
                    display: flex;
                    flex-direction: column;

                    width: 350px;
                    margin: 15px;
                    border: 1px solid rgba(109, 109, 109, 0.496);
                    border-radius: 15px;
                    transition: .5s;
                }
                .contenedor-productos-destacados .contenedor-productos .contenedor-producto:hover {
                    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
                    color: #125115;
                }

                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto{
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        width: 350px;
                        padding: 10px;
                        color: #666565;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto:hover {
                        color: rgb(7, 121, 7);
                    }

                        .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .imagen-producto{
                            width: 100%;
                            height: 264px;
                            object-fit: contain;
                            align-self: center;
                            /* padding: 15px; */
                            /* background-color: #644035; */
                            padding: 10px 0;
                        }
                        .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .nombre-producto{
                            font-weight: 200;
                        }
                        .contenedor-productos-destacados .contenedor-productos .contenedor-producto .producto .contenedor-categoria-producto .categoria-producto{
                            font-size: 0.7em;
                            background-color: antiquewhite;
                            padding: 4px;
                            margin: 5px 5px 5px 0;
                        }
                    /* BOTONNN AGREGAR------- */
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .boton-agregar-carrito{
                        background-color:  var(--color-subtitulos-main);
                        border: 0.1px solid var(--color-subtitulos-main);
                        color: white;
                        font-size: 0.8em;
                        border-radius: 7px;
                        border: none;
                        padding: 0.4vw 0vw;
                        margin: 0 3px 6px;
                    }
                    .contenedor-productos-destacados .contenedor-productos .contenedor-producto .boton-agregar-carrito:hover{
                        /* border: 0.2px solid var(--color-subtitulos-main); */
                        /* border: 0.2px solid var(--color-subtitulos-main); */
                        box-shadow: inset 0 0 0 2px var(--color-subtitulos-main);
                        background-color:  var(--color-main);
                        /* box-shadow: 0px 0px 0px  #538c3b; */
                        color: var(--color-subtitulos-main);
                    }


    /* ***********************************CATEGORÍAS*********************************** */
    .contenedor-categorias{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F5FF;
        padding-bottom: 50px;
    }
    
        .contenedor-categorias h2{
            font-size: 2.5rem;
            padding: 30px;
            color: #125115;
            font-weight: bold;
        }
    
        .contenedor-categorias .contenedor-tarjetas-categorias{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
    
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria{
                width: 15%;             /*!fabi*/
                margin-bottom: 1.5vh;   /*!fabi*/
                /* margin-left: 20px;
                margin-right: 20px; */
                position: relative;
                display: flex;
                /* flex-direction: column; */
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;            
            }
    
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria .link-categoria .imagen-categoria{
                width: 15vw;    /*!fabi*/
                height: 50vh;   /*!fabi*/
                transition: .6s;
            }
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria:hover .imagen-categoria{
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                filter: brightness(60%);
            }
    
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria .titulo-categoria{
                display: none;
                font-family: 'Alata', sans-serif;
                text-transform: uppercase; /*!fabi*/
                cursor: pointer;
                position: absolute;
                color: azure;
                font-size: 1.4vw; /*ó 1.4em*//*!fabi*/
                font-weight: bold;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: black;
                transition: .6s;
            }
            .contenedor-categorias .contenedor-tarjetas-categorias .categoria:hover .titulo-categoria{
                display: block;
                transform: scale(1.1);
            }


    /* ***********************************NOTICIAS*********************************** */
    .contenedor-noticias-sustentables{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;
        
    }
        .contenedor-noticias-sustentables .titulo-noticias-sustentables{
            color: #125115;
            font-weight: 400;
        }
    .mySwiper {
        position: relative;
        background: #ffffff;
        font-size: 0.9em;
        margin: 0;
        padding: 30px;
    }
    .swiper {
        width: 100%;
        height: 300px;
        margin: 20px 10px;
    }         
    .swiper-slide {
        display: flex;
        justify-content: center;
        text-align: center;
    }
        .swiper-slide .noticia-slide a{
            text-decoration: none;
            position: relative;
        }
            .swiper-slide .noticia-slide a .imagen-noticia{
                width: 370px;
                height: 220px;
                border-radius: 5%;
                border: 1.2px solid rgb(145, 145, 145);
            }
            .swiper-slide .noticia-slide a .titulo-noticia{
                position: absolute;
                font-size: 1.1em;
                color: #644035;
                
            }
}