<footer id="idfooter">
    <div class="footer-top">
        <ul>
            <a id="a-eco-root-header" href="/home"><p class="eco-root"><span>3</span>CO <span>R</span>OOT</p></a>
            <p class="caba-p">CABA, Argentina</p>
            <div class="links-footer">
                <a href="https://www.pescar.org.ar/" target="_blank"><strong>Fundación Pescar</strong></a>
            <div>

            <!-- <div class="redes">

            </div> -->
        </ul>
        <ul>
            <p class="titulo-footer"><strong>Categorías</strong></p>
            <div class="links-footer">
            {{#each categorias }}
                <a href="/busqueda-producto/{{this._id}}">{{this.nombre}}</a>
            {{/each}}
            </div>
        </ul>
        <ul>
            <p class="titulo-footer"><strong>Info</strong></p>
            <!-- <div class="links-footer">     -->
            <div class="links-footer">
                <a id="nosotros" href="/quienes-somos">Sobre nosotros</a>
                <a id="noticias" href="">Noticias sustentables</a>
            </div>
            <!-- </div> -->
        </ul>
    </div>
    <div class="footer-bottom">
        <p>@Webecy - All Rights Reserved - <strong>3</strong>CO-<strong>R</strong>OOT</p>
    </div>
</footer>