* {
    /* Reset estilos */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black; 
}


body {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}


.header{
    display: grid;
}