<main>
    <div class="formularios">
        <h1>PROCESAR COMPRA</h1>
        <form action="" method="get">

            <input class="inputProcesarCompra" type="" name="Nombre" placeholder="Ingrese su Nombre">

            <input class="inputProcesarCompra" type="" name="Apellido" placeholder="Ingrese su Apellido">

            <input class="inputProcesarCompra" type="email" name="Email" placeholder="Correo Electronico">

            <input class="inputProcesarCompra" type="number" name="Tarjeta" placeholder="Ingrese su número de tarjeta">

            <input class="inputProcesarCompra" type="number" name="DNI" placeholder="Ingrese su número de DNI">

        </form>
        <div>
            <button id="botonProcesarCompra" class="botonProcesarCompra" type="submit">Procesar Compra</button>
        </div>
    </div>
</main>